{% extends "base.html" %}

{% block title %}Experience{% endblock %}

{% block content %}
<section class="timeline-section">
    <h1 style="text-align:center;">Professional Experience</h1>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <div class="timeline-header">
                    <span class="timeline-title">Tesla, Inc.</span>
                    <span class="timeline-date">Mar 2024 – Sep 2024</span>
                </div>
                <div class="timeline-subtitle">Shanghai, China</div>
                <div class="timeline-degree">Electrical Test Intern (HV Battery), R&D</div>
                <div class="timeline-courses">
                    <b>Product Validation:</b> High-voltage battery module and pack-level reliability test and validation, including vibration test, impact test, thermal test, environmental test like HTHE and PTCE.<br>
                    <b>Test Development:</b> Development of automated testing and data analysis using Python. Responsible for designing an autonomous control system with GUI for the Drop Rig bench.<br>
                    <b>Result Analysis:</b> Developed an app for vibration data analysis based on Matlab and designed an internal website for recording experimental data and reliability analysis.
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <div class="timeline-header">
                    <span class="timeline-title">NIO Inc.</span>
                    <span class="timeline-date">Oct 2023 – Feb 2024</span>
                </div>
                <div class="timeline-subtitle">Shanghai, China</div>
                <div class="timeline-degree">Power Engineer Intern, R&D</div>
                <div class="timeline-courses">
                    <b>Low voltage power management:</b> Participated in the development of low-voltage power management systems for electric vehicles, focusing on the integration and optimization of power distribution components.<br>
                    <b>Automated Testing:</b> Conducted testing and validation modules, developed automation testing software and platform by Python to enhance accuracy and efficiency.<br>
                    <b>ECU function verification:</b> Responsible for Efuse function test and calibration test on latest ET3 car.
                </div>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <div class="timeline-header">
                    <span class="timeline-title">Chengdu Zhimingda Electronics Co., Ltd.</span>
                    <span class="timeline-date">Jul 2023 – Sep 2023</span>
                </div>
                <div class="timeline-subtitle">Chengdu, China</div>
                <div class="timeline-degree">Embedded Firmware Engineer Intern, R&D</div>
                <div class="timeline-courses">
                    <b>SPI Driver Development:</b> Designed SPI driver module using Verilog; optimized data exchange with FIFOs.<br>
                    <b>Advanced Data Transmission:</b> Developed AD7606 transmission modules; employed time-division and multiplexing.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} 